[submodule "hazel/vendor/spdlog"]
	path = hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "hazel/vendor/glm"]
	path = hazel/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "hazel/vendor/GLFW"]
	path = hazel/vendor/GLFW
	url = git@github.com:QNimbus/glfw.git
[submodule "hazel/vendor/imgui"]
	path = hazel/vendor/imgui
	url = git@github.com:QNimbus/imgui.git
[submodule "hazel/vendor/yaml-cpp"]
	path = hazel/vendor/yaml-cpp
	url = git@github.com:QNimbus/yaml-cpp.git
[submodule "hazel/vendor/ImGuizmo"]
	path = hazel/vendor/ImGuizmo
	url = git@github.com:QNimbus/ImGuizmo.git
